# Working on Wallet table to check the usage and other things
#How aggresively using + how much #account Wallet info

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine("mysql+pymysql://root:Jobma009%40@localhost:3306/jobma")

In [3]:
jobma_wallet_df = pd.read_sql("SELECT * FROM wallet", engine) #How aggresively using + how much #account Wallet info

In [4]:
jobma_wallet_df.shape

(5562, 14)

In [5]:
#To know count, min, max .....
jobma_wallet_df.describe().T

,count,mean,min,25%,50%,75%,max,std
id,5562.0,3033.051061,1.0,1654.25,3047.5,4438.75,5993.0,1637.51584
catcher_id,5562.0,4759.247393,92.0,2762.25,4788.0,6908.75,9445.0,2438.068023
credit_amount,165.0,1145.289455,0.0,26.0,118.0,500.0,11800.0,2545.874201
wallet_amount,5562.0,162136.642575,0.0,50.0,150.0,1104.0,99999999.99,2999769.787818
premium_storage,5562.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
trial_account_type,5161.0,0.063941,0.0,0.0,0.0,0.0,1.0,0.244672
created_at,5562,2021-01-31 23:35:40.073894144,2017-11-03 04:36:27,2020-03-18 08:26:04.500000,2021-03-25 05:36:49,2022-05-16 04:59:41.500000,2025-03-28 05:15:12,NaN
updated_at,5562,2021-02-23 15:30:10.895181824,2017-11-03 04:36:27,2020-03-23 02:00:50.249999872,2021-03-30 11:02:52,2022-05-19 06:41:44.500000,2025-04-03 10:28:15,NaN

In [6]:
jobma_wallet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5562 entries, 0 to 5561
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5562 non-null   int64
 1   catcher_id            5562 non-null   int64
 2   credit_amount         165 non-null    float64
 3   wallet_amount         5562 non-null   float64
 4   subscription_type     5562 non-null   object
 5   plan_type             5562 non-null   object
 6   is_unlimited          5562 non-null   object
 7   premium_storage       5562 non-null   int64
 8   trial_account_type    5161 non-null   float64
 9   gst_code              2781 non-null   object
 10  billing_cycle         2 non-null      object
 11  billing_cycle_status  5562 non-null   object
 12  created_at            5562 non-null   datetime64[ns]
 13  updated_at            5562 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(3), object(6)
memory usage: 608.5+ KB

In [7]:
jobma_wallet_df.isna().sum()

id                         0
catcher_id                 0
credit_amount           5397
wallet_amount              0
subscription_type          0
plan_type                  0
is_unlimited               0
premium_storage            0
trial_account_type       401
gst_code                2781
billing_cycle           5560
billing_cycle_status       0
created_at                 0
updated_at                 0
dtype: int64

In [8]:
jobma_wallet_df.T

,0,1,2,3,4,5,6,7,8,9,...,5552,5553,5554,5555,5556,5557,5558,5559,5560,5561
id,1,2,3,4,5,6,15,31,32,33,...,5977,5979,5981,5982,5983,5985,5987,5989,5991,5993
catcher_id,669,92,898,912,92,898,106,124,125,126,...,9299,9311,9313,9315,9317,9319,9365,9405,9413,9445
credit_amount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wallet_amount,0.0,34.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,150.0,0.0,500000.0,500000.0,500000.0,137.0,500000.0,15000.0,150.0
subscription_type,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
plan_type,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
is_unlimited,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,0,1,0,0
premium_storage,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
trial_account_type,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
gst_code,None,None,None,None,None,None,None,None,None,None,...,,,,,None,None,,None,,None
billing_cycle,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
billing_cycle_status,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
created_at,2017-11-03 12:10:27,2017-11-03 12:10:27,2017-11-03 04:36:27,2017-11-03 14:08:57,2017-11-03 14:08:57,2017-11-03 14:08:57,2017-11-03 14:08:57,2017-11-03 14:08:57,2017-11-03 14:08:57,2017-11-03 14:08:57,...,2024-04-30 10:49:58,2024-05-09 04:57:50,2024-05-28 07:38:50,2024-06-06 05:20:58,2024-06-12 11:11:49,2024-06-12 11:14:07,2024-07-11 08:05:25,2024-09-04 05:01:02,2024-09-24 09:18:45,2025-03-28 05:15:12
updated_at,2017-11-03 12:10:27,2020-02-20 07:10:00,2017-11-03 04:36:27,2017-11-03 14:08:57,2020-02-20 07:10:00,2017-11-03 14:08:57,2017-11-03 14:08:57,2017-11-03 14:08:57,2017-11-03 14:08:57,2017-11-03 14:08:57,...,2025-01-23 06:17:13,2024-05-09 04:57:50,2024-05-29 13:01:47,2024-06-06 05:20:58,2024-06-12 11:11:49,2024-07-02 12:56:06,2024-07-17 09:32:21,2024-09-04 05:01:02,2024-09-24 09:20:17,2025-03-28 05:15:12

In [9]:
# Check for duplicate jobma_user_id count
print("No of duplicate catcher_id ----", jobma_wallet_df['catcher_id'].duplicated().sum())

#top most duplicates
print("Top duplicated ----")
print(jobma_wallet_df['catcher_id'].value_counts().head(10))

No of duplicate catcher_id ---- 2
Top duplicated ----
catcher_id
898     2
92      2
124     1
125     1
126     1
9221    1
144     1
9279    1
9257    1
128     1
Name: count, dtype: int64

In [10]:
column_data = jobma_wallet_df['created_at']
print(jobma_wallet_df.shape)
print("No of unique values----",column_data.nunique(dropna=False), "\n")
print("Unique values ---------",column_data.unique(), "\n")
print(column_data.value_counts(dropna=False).head(10), "\n")

(5562, 14)
No of unique values---- 5236

Unique values --------- <DatetimeArray>
['2017-11-03 12:10:27', '2017-11-03 04:36:27', '2017-11-03 14:08:57',
 '2017-11-03 05:18:44', '2017-11-03 07:47:12', '2017-11-06 03:13:17',
 '2017-11-06 06:33:06', '2017-11-06 07:18:03', '2017-11-07 02:14:05',
 '2017-11-09 02:40:14',
 ...
 '2024-04-30 10:49:58', '2024-05-09 04:57:50', '2024-05-28 07:38:50',
 '2024-06-06 05:20:58', '2024-06-12 11:11:49', '2024-06-12 11:14:07',
 '2024-07-11 08:05:25', '2024-09-04 05:01:02', '2024-09-24 09:18:45',
 '2025-03-28 05:15:12']
Length: 5236, dtype: datetime64[ns]

created_at
2017-11-03 14:08:57    321
2018-03-13 05:42:44      5
2022-08-01 11:22:59      2
2017-11-03 12:10:27      2
2025-03-28 05:15:12      1
2024-04-08 12:39:25      1
2017-11-06 03:13:17      1
2017-11-06 06:33:06      1
2017-11-06 07:18:03      1
2017-11-07 02:14:05      1
Name: count, dtype: int64

In [11]:
jobma_wallet_selected_df = jobma_wallet_df[['id', 
                                            'catcher_id',   #@5560
                                            'credit_amount',#@40,  Nan, -------------------------------------------->>??Required
                                            'wallet_amount', #amounts or balance may be ---------------------------->>??
                                            'subscription_type', #0,1    mostly------------------------->> 0
                                            'plan_type',#0,1
                                            'is_unlimited',#0, 1------------------------------------------------------>>
                                            'premium_storage',#------------------------------------------------------->>All are 0
                                            'trial_account_type',#0.0,1.0--------------------------------------------->>mostly zero   #can be used to remove and fill values
                                            # 'gst_code',#
                                            # 'billing_cycle', #not relevantdat
                                            'billing_cycle_status',#0,1 may be koi relation ho plan se ya user type se
                                            'created_at',# there may be many created and updated column--------------->> can be considered use as client age with us
                                            'updated_at'
                                         ]].copy()

In [12]:
jobma_wallet_df.shape, jobma_wallet_selected_df.shape

((5562, 14), (5562, 12))