# jobma_pitcher_applied_jobs Table
#How many jobs he is posting #Pitcher/Candidate details and status.
#Candidate details and status
#Float Value in catcher id

In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:Jobma009%40@localhost:3306/jobma")

In [2]:
jobma_pitcher_applied_jobs_df = pd.read_sql("SELECT * FROM jobma_pitcher_applied_jobs", engine)

In [3]:
jobma_pitcher_applied_jobs_df

,jobma_applied_id,jobma_pitcher_id,jobma_post_id,catcher_id,jobma_applied_date,jobma_contacted_date,jobma_contacted_text,status,tags,jobma_assessment_id,...,avg_ai_score,stages_status,pre_screen_qualify,integration_source,source,export,deleted_rounds,deleted_at,created_at,updated_at
0,154,77463,34345,0.0,2012-06-29 00:00:00,0000-00-00,,0,,0.0,...,NaN,1,None,None,Jobma,0,None,NaT,2018-01-24 12:36:09,2024-05-16 17:47:20
1,155,1,145,92.0,2012-07-19 00:00:00,0000-00-00,,3,,0.0,...,NaN,0,None,None,Jobma,0,None,NaT,2018-01-24 12:36:09,2021-07-07 11:48:54
2,156,355,145,92.0,2012-07-19 00:00:00,0000-00-00,slected,2,"arp,",0.0,...,NaN,0,None,None,Jobma,0,None,NaT,2018-01-24 12:36:09,2021-07-07 11:48:54
3,157,354,145,92.0,2012-07-19 00:00:00,0000-00-00,,3,"arp,",0.0,...,NaN,0,None,None,Jobma,0,None,NaT,2018-01-24 12:36:09,2021-07-07 11:48:54
4,158,356,145,92.0,2012-07-19 00:00:00,0000-00-00,,3,,0.0,...,NaN,0,None,None,Jobma,0,None,NaT,2018-01-24 12:36:09,2021-07-07 11:48:54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54956,65693,1127179,0,8893.0,2025-03-28 07:01:41,2025-03-28,,0,,NaN,...,NaN,1,None,None,None,0,None,NaT,2025-03-28 07:01:41,2025-03-28 12:31:41
54957,65695,1126639,33979,1873.0,2025-04-01 06:23:45,2025-04-01,,0,,NaN,...,NaN,0,None,None,None,0,None,NaT,2025-04-01 06:23:45,2025-04-01 06:23:45
54958,65697,1127207,0,8464.0,2025-04-02 09:17:50,2025-04-02,,0,,NaN,...,NaN,1,0,None,None,0,None,NaT,2025-04-02 09:17:50,2025-04-02 14:47:50
54959,65699,1127213,35855,8464.0,2025-04-02 10:08:28,2025-04-02,,0,,NaN,...,NaN,1,0,None,None,0,None,NaT,2025-04-02 10:08:28,2025-04-02 15:38:28
54960,65701,1127227,33979,1873.0,2025-04-03 10:28:15,2025-04-03,,0,,NaN,...,NaN,0,None,None,None,0,None,NaT,2025-04-03 10:28:15,2025-04-03 10:28:15

In [4]:
jobma_pitcher_applied_jobs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54961 entries, 0 to 54960
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   jobma_applied_id               54961 non-null  int64
 1   jobma_pitcher_id               54961 non-null  int64
 2   jobma_post_id                  54961 non-null  int64
 3   catcher_id                     54345 non-null  float64
 4   jobma_applied_date             54961 non-null  object
 5   jobma_contacted_date           54961 non-null  object
 6   jobma_contacted_text           54961 non-null  object
 7   status                         54934 non-null  object
 8   tags                           54961 non-null  object
 9   jobma_assessment_id            34215 non-null  float64
 10  invitation_id                  54961 non-null  int64
 11  documents                      9341 non-null   object
 12  status_name                    54961 non-null  object
 13  pre_recorded_payment_status    54961 non-null  object
 14  live_interview_payment_status  54961 non-null  object
 15  apply_mode                     54961 non-null  object
 16  jobma_interview_rounds         54830 non-null  object
 17  avg_ai_score                   28 non-null     float64
 18  stages_status                  54961 non-null  object
 19  pre_screen_qualify             408 non-null    object
 20  integration_source             2 non-null      object
 21  source                         52938 non-null  object
 22  export                         54961 non-null  object
 23  deleted_rounds                 53 non-null     object
 24  deleted_at                     268 non-null    datetime64[ns]
 25  created_at                     54961 non-null  datetime64[ns]
 26  updated_at                     54961 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(3), int64(4), object(17)
memory usage: 11.3+ MB

In [5]:
jobma_pitcher_applied_jobs_df.isna().sum()

jobma_applied_id                     0
jobma_pitcher_id                     0
jobma_post_id                        0
catcher_id                         616
jobma_applied_date                   0
jobma_contacted_date                 0
jobma_contacted_text                 0
status                              27
tags                                 0
jobma_assessment_id              20746
invitation_id                        0
documents                        45620
status_name                          0
pre_recorded_payment_status          0
live_interview_payment_status        0
apply_mode                           0
jobma_interview_rounds             131
avg_ai_score                     54933
stages_status                        0
pre_screen_qualify               54553
integration_source               54959
source                            2023
export                               0
deleted_rounds                   54908
deleted_at                       54693
created_at                           0
updated_at                           0
dtype: int64

In [6]:
jobma_pitcher_applied_jobs_df.describe().T

,count,mean,min,25%,50%,75%,max,std
jobma_applied_id,54961.0,30550.644457,154.0,14227.0,28344.0,47339.0,65701.0,18788.767255
jobma_pitcher_id,54961.0,91597.584105,0.0,17874.0,31913.0,68939.0,1127227.0,230995.623045
jobma_post_id,54961.0,8579.454995,0.0,763.0,2068.0,21193.0,95062.0,11237.332032
catcher_id,54345.0,1811.22324,0.0,92.0,289.0,2334.0,9431.0,2608.875067
jobma_assessment_id,34215.0,2.656408,0.0,0.0,0.0,0.0,721.0,36.379445
invitation_id,54961.0,43776.553793,0.0,0.0,0.0,0.0,577757.0,139246.426477
avg_ai_score,28.0,63.921429,0.0,29.5,72.5,100.0,100.0,35.056339
deleted_at,268,2024-04-27 04:29:05.541044992,2023-10-03 11:25:22,2024-02-08 00:37:18.500000,2024-05-08 06:51:15.500000,2024-05-30 06:27:04,2025-04-02 09:07:09,NaN
created_at,54961,2019-05-26 01:10:57.697003520,2018-01-24 12:36:09,2018-01-24 12:36:09,2018-01-24 12:36:09,2020-07-31 07:16:43,2025-04-03 10:28:15,NaN
updated_at,54961,2021-12-11 18:58:42.767071744,2021-05-03 18:28:19,2021-07-07 11:48:54,2021-07-07 11:48:54,2022-01-25 16:02:06,2025-04-03 10:28:15,NaN

In [7]:
jobma_pitcher_applied_jobs_df.duplicated().sum()

np.int64(0)

In [8]:
# Check for duplicate count
print("Shape of jobma_pitcher_applied_jobs_df------",jobma_pitcher_applied_jobs_df.shape)
print("No of duplicate catcher_id ----", jobma_pitcher_applied_jobs_df['catcher_id'].duplicated().sum())
#top most duplicates
print("Top duplicates are----")
print(jobma_pitcher_applied_jobs_df['catcher_id'].value_counts().head(10))
jobma_pitcher_applied_jobs_df['catcher_id'].head(5)

Shape of jobma_pitcher_applied_jobs_df------ (54961, 27)
No of duplicate catcher_id ---- 54004
Top duplicates are----
catcher_id
92.0      17640
231.0      2302
291.0      1948
924.0      1663
223.0      1620
7151.0     1222
224.0       905
2335.0      895
300.0       891
446.0       794
Name: count, dtype: int64

0     0.0
1    92.0
2    92.0
3    92.0
4    92.0
Name: catcher_id, dtype: float64

In [9]:
jobma_pitcher_applied_jobs_df['catcher_id'].unique()

array([   0.,   92.,   nan,   99.,  124.,  126.,  128.,  129.,  138.,
         97.,  148.,  220.,  232.,  197.,  225.,  219.,  224.,  233.,
        226.,  195.,  230.,  228.,  227.,  223.,  231.,  207.,  229.,
        234.,  214.,  211.,  242.,  204.,  191.,  218.,  252.,  221.,
        198.,  200.,  202.,  201.,  213.,  240.,  217.,  210.,  216.,
        289.,  261.,  291.,  293.,  194.,  300.,  292.,  301.,  302.,
        304.,  286.,  317.,  367.,  365.,  374.,  385.,  426.,  446.,
        327.,  469.,  370.,  404.,  478.,  521.,  490.,  203.,  407.,
        539.,  534.,  550.,  536.,  564.,  425.,  557.,  543.,  537.,
        589.,  577.,  538.,  613.,  618.,  624.,  558.,  639.,  209.,
        576.,  542.,  454.,  672.,  622.,  679.,  666.,  241.,  677.,
        212.,  540.,  684.,  663.,  629.,  695.,  662.,  665.,  369.,
        676.,  726.,  720.,  718.,  714.,  712.,  723.,   96.,  719.,
        715.,  711.,  717.,  692.,  487.,  713.,  752.,  770.,  791.,
        716.,  747.,  721.,  722.,  781.,  800.,  746.,  899.,  903.,
        904.,  905.,  872.,  908.,  910.,  920.,  922.,  924.,  925.,
        930.,  933.,  929.,  935.,  926.,  936.,  937.,  934.,  940.,
        943.,  928.,  984.,  991.,  987., 1013.,  927., 1009., 1033.,
       1023., 1038., 1026., 1049., 1050., 1047., 1045., 1048., 1040.,
       1057., 1059., 1058., 1217., 1090., 1209., 1148., 1222., 1220.,
       1228., 1233., 1235., 1237., 1241., 1254., 1268., 1269., 1271.,
       1273., 1278., 1215., 1307.,  151., 1372., 1395., 1396., 1430.,
       1449., 1412., 1410., 1347., 1486., 1404., 1520., 1525., 1521.,
       1402., 1538., 1407., 1523., 1371., 1548., 1547., 1374., 1584.,
       1587., 1600., 1593., 1601., 1369., 1598., 1625., 1626., 1627.,
       1599., 1607., 1629., 1592., 1608., 1602., 1636., 1582., 1631.,
       1652., 1650., 1648., 1654., 1591., 1655., 1656., 1657., 1658.,
       1674., 1676., 1637., 1683., 1590., 1684., 1670., 1692., 1696.,
       1697., 1633., 1706., 1708., 1710., 1700., 1712., 1714., 1722.,
       1724., 1725., 1726., 1690., 1730., 1487., 1748., 1767., 1766.,
       1698., 1775., 1772., 1777., 1702., 1793., 1795., 1769., 1798.,
       1802., 1662., 1835., 1828., 1840., 1852., 1856., 1857., 1829.,
       1839., 1875., 1891., 1894., 1870., 1909., 1911., 1914., 1918.,
       1925., 1944., 2009., 2012., 2013., 2014., 2017., 1940., 2021.,
       2022., 2025., 2031., 2018., 2052., 2045., 2046., 2055., 2058.,
       2111., 2048., 2143., 2133., 2144., 2150., 2151., 2153., 2155.,
       2157., 2168., 2169., 2187., 2190., 2196., 2183., 2216., 2218.,
       2233., 2247., 2251., 2255., 2274., 2276., 2277., 2304., 2295.,
       2312., 2326., 2328., 2365., 2409., 2334., 2463., 2414., 2445.,
       2451., 2523., 2525., 2335., 2534., 2549., 2453., 2149., 2488.,
       2551., 2569., 2570., 2590., 2412., 2626., 2625., 2627., 2628.,
       2635., 2634., 2639., 2673., 2676., 2672., 2685., 2688., 2689.,
       2683., 2699., 2702., 2452., 2727., 2734., 1219., 2799., 2801.,
       2800., 2803., 2802., 2760., 2266., 2827., 2832., 2830., 2833.,
       2840., 2843., 2868., 2870., 2695., 2874., 2876., 2871., 2882.,
       2456., 2889., 2850., 2893., 2895., 2897., 2923., 2917., 2949.,
       2957., 3002., 3012., 3076., 3064., 3155., 3156., 3159., 3158.,
       3160., 3161., 3171., 3177., 3176., 2919., 3206., 3225., 3238.,
       3265., 3264., 3280., 3293., 3291., 3303., 3305., 3334., 3394.,
       3417., 3510., 3499., 3511., 2926., 3502., 3584., 3635., 3633.,
       3679., 3678., 3724., 3784., 3861., 3881., 3908., 3897., 3970.,
       4065., 4067., 4068., 4186., 4211., 4227., 4250., 4266., 4132.,
       2995., 4320., 4357., 4364., 4365., 4244., 4380., 4246., 4391.,
       4405., 4413., 4432., 4442., 4525., 4549., 4527., 4342., 4875.,
       4874., 4902., 5002., 5000., 5031., 5048., 5055., 5058., 5073.,
       5109., 5069., 5085., 5101., 5127., 5123., 4736., 5150., 5201.,
       5292., 5293., 5281., 5295., 5374., 5335., 5379., 5380., 5341.,
       5382., 5397., 5413., 5412., 5403., 5404., 5417., 5421., 5564.,
       5425., 5428., 5430., 5434., 5416., 5442., 5440., 5449., 5441.,
       5452., 5459., 5424., 5401., 5492., 5355., 5505., 5502., 5526.,
       5529., 5530., 5532., 5448., 5538., 5461., 5569., 5578., 5588.,
       5586., 5581., 5333., 5606., 5389., 5616., 5582., 5619., 5622.,
       5632., 5645., 5659., 5665., 5646., 5653., 5674., 5689., 5694.,
       5708., 5709., 5722., 5751., 5753., 5757., 4711., 5776., 5768.,
       5800., 5804., 5814., 5801., 5822., 5827., 5799., 5834., 5252.,
       5831., 5829., 5837., 5843., 5850., 5836., 5855., 5856., 5755.,
       5859., 5828., 5862., 5869., 5868., 5876., 5881., 4789., 5875.,
       5883., 5885., 5880., 5884., 5874., 5887., 5888., 5890., 5891.,
       5893., 5872., 5818., 5852., 5895., 5901., 5906., 5854., 5909.,
       5923., 5924., 5925., 5929., 5898., 5920., 5931., 5936., 5930.,
       5944., 5945., 5947., 5948., 5943., 5949., 5961., 5934., 5959.,
       5969., 5965., 5962., 5974., 5968., 5979., 5985., 5941., 5989.,
       5990., 5992., 5991., 5994., 5993., 5995., 5997., 5996., 5998.,
       5999., 4411., 6000., 6001., 6003., 6002., 6010., 6009., 6007.,
       6011., 6013., 6019., 6016., 6017., 6020., 6021., 6026., 6025.,
       6028., 5957., 6029., 6014., 6015., 6036., 6039., 6041., 6038.,
       6032., 6042., 6047., 6111., 6110., 6085., 6106., 6136., 6165.,
       6139., 6183., 6186., 6184., 6188., 6190., 6185., 6189., 6193.,
       6180., 6227., 6241., 6257., 6280., 6319., 6326., 6023., 6262.,
       6302., 6411., 6415., 6414., 6416., 6412., 6427., 6434., 6351.,
       6444., 6448., 6422., 6462., 6465., 6475., 6477., 6485., 6476.,
       6493., 6443., 6499., 6468., 6501., 6502., 6504., 6426., 6231.,
       6506., 6509., 6508., 6514., 6515., 6516., 6300., 6474., 6529.,
       6533., 6546., 6525., 6549., 5550., 6538., 6623., 6677., 6681.,
       6644., 6650., 6682., 6651., 6675., 6320., 6686., 6716., 6712.,
       6706., 6721., 6696., 6715., 6679., 6287., 6752., 6826., 6284.,
       6832., 6018., 6854., 6851., 6714., 6909., 6911., 6960., 7000.,
       6944., 7048., 7055., 7106., 7151., 6543., 7170., 7083., 6425.,
       7284., 6968., 7337., 7338., 6489., 7205., 6550., 7279., 7177.,
       7399., 7398., 7396., 6081., 7029., 7430., 7273., 7461., 7467.,
       7478., 7471., 7431., 7510., 7596., 7793., 7400., 7810., 7827.,
       7828., 7891., 7647., 7903., 7940., 7776., 7964., 7623., 7990.,
       7989., 7401., 6345., 8002., 8004., 8005., 8007., 8010., 7999.,
       8014., 8019., 8049., 8043., 8056., 8058., 7939., 8052., 8067.,
       8061., 7972., 8120., 8136., 8148., 8179., 8129., 8180., 8193.,
       8178., 8201., 7757., 8159., 8214., 8197., 8217., 8219., 8222.,
       8225., 7464., 8226., 8224., 7772., 7606., 8228., 8235., 7834.,
       8249., 8251., 8252., 7832., 7505., 8269., 8270., 8272., 8274.,
       8275., 8279., 8276., 8282., 8281., 8283., 8285., 8278., 8300.,
       8304., 8305., 8306., 8307., 8308., 8321., 8309., 8363., 8364.,
       6208., 7483., 8303., 8436., 8437., 8438., 8439., 8441., 8442.,
       8443., 8435., 7099., 7549., 8474., 8467., 8271., 8480., 8482.,
       8483., 8484., 8513., 8506., 8517., 8518., 8521., 8523., 8499.,
       8464., 8557., 8558., 8559., 8564., 8565., 8597., 1873., 8627.,
       8687., 8705., 8867., 8713., 8877., 8537., 8869., 8893., 9037.,
       8866., 9035., 8891., 9315., 9319., 9365., 8873., 9415., 9325.,
       9299., 9403., 9431.])

In [10]:
jobma_pitcher_applied_jobs_df['catcher_id'].head(5)

0     0.0
1    92.0
2    92.0
3    92.0
4    92.0
Name: catcher_id, dtype: float64

In [11]:
# Changing data type
jobma_pitcher_applied_jobs_df['catcher_id'] = jobma_pitcher_applied_jobs_df['catcher_id'].fillna(0).astype(int)

In [14]:
jobma_pitcher_applied_jobs_df['catcher_id'].head(10)

0     0
1    92
2    92
3    92
4    92
5    92
6    92
7    92
8    92
9    92
Name: catcher_id, dtype: int64

In [16]:
jobma_pitcher_applied_jobs_selected_df = jobma_pitcher_applied_jobs_df[['jobma_applied_id', #starts from 13
                                                                        'jobma_pitcher_id',#59540,59631,59775 likee
                                                                        'jobma_post_id',#0,763,759,770,771
                                                                        'catcher_id',#--------------------------------->> problem in catcher_id as in the workbench it is in but now in int as forcely changed
                                                                        # 'jobma_applied_date',#
                                                                        # 'jobma_contacted_date',#
                                                                        # 'jobma_contacted_text',#
                                                                        'status',#0,1,2,3,4---------->
                                                                        # 'tags',#test,arp,good,php,java
                                                                        # 'jobma_assessment_id',#float values  118.0,147.0,148.8.... mostly 0
                                                                        'invitation_id',#ids, mostly 0
                                                                        # 'documents',#mostly null or stringresums, summary
                                                                        #'status_name',#Null
                                                                        # 'pre_recorded_payment_status',#0,1 mostly 0
                                                                        'live_interview_payment_status',#0,1 mostly 0
                                                                        'apply_mode',#0,1,2,3,4,5,6 mostly
                                                                        'jobma_interview_rounds',#0,1,2,3,4
                                                                        # 'avg_ai_score',#Score generated by the AI found in only 15 tables
                                                                        # 'pre_screen_qualify',#0,1,2
                                                                        # 'integration_source',#one value in one colum
                                                                        # 'source',#jobma,microsoft teams,ZOom mostly jobma
                                                                        # 'export',#0,1 almost all are 0
                                                                        # 'deleted_rounds',####Problem  may be ticket raise
                                                                        # 'deleted_at',#
                                                                        # 'created_at',#
                                                                        # 'updated_at'
                                                                       ]].copy()

In [17]:
jobma_pitcher_applied_jobs_selected_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54961 entries, 0 to 54960
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   jobma_applied_id               54961 non-null  int64
 1   jobma_pitcher_id               54961 non-null  int64
 2   jobma_post_id                  54961 non-null  int64
 3   catcher_id                     54961 non-null  int64
 4   status                         54934 non-null  object
 5   invitation_id                  54961 non-null  int64
 6   live_interview_payment_status  54961 non-null  object
 7   apply_mode                     54961 non-null  object
 8   jobma_interview_rounds         54830 non-null  object
dtypes: int64(5), object(4)
memory usage: 3.8+ MB

In [18]:
jobma_pitcher_applied_jobs_selected_df

,jobma_applied_id,jobma_pitcher_id,jobma_post_id,catcher_id,status,invitation_id,live_interview_payment_status,apply_mode,jobma_interview_rounds
0,154,77463,34345,0,0,0,0,1,
1,155,1,145,92,3,0,0,1,
2,156,355,145,92,2,0,0,1,
3,157,354,145,92,3,0,0,1,
4,158,356,145,92,3,0,0,1,
...,...,...,...,...,...,...,...,...,...
54956,65693,1127179,0,8893,0,577707,0,1,1
54957,65695,1126639,33979,1873,0,0,1,2,2
54958,65697,1127207,0,8464,0,577751,0,1,1
54959,65699,1127213,35855,8464,0,577757,0,1,1
54960,65701,1127227,33979,1873,0,0,1,2,2